html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

footer {
  background-color: #1b1b1b;
}

a {
  color: inherit;
  text-decoration: none;
}

#link {
  color: #90CAF9;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
